#incomingMessage{
    background:ghostwhite;padding:10px;border-radius: 10px;
}
#answer{
    background:#e4e4e4;padding:10px;border-radius: 10px;
}
.disconnected {
      width: 10px;
      height: 10px;
      -webkit-border-radius: 25px;
      -moz-border-radius: 25px;
      border-radius: 25px;
      background: red;
      position:absolute;
      margin-left: 140px;
      margin-top: -15px;
    }
.connected {
      width: 10px;
      height: 10px;
      -webkit-border-radius: 25px;
      -moz-border-radius: 25px;
      border-radius: 25px;
      background: green;
      position:absolute;
      margin-left: 140px;
      margin-top: -15px;
    }