<div ng-controller="ChatController">
     <nav class="navbar navbar-inverse">
      <div class="container-fluid">
        <div class="navbar-header">
          <a class="navbar-brand" href="#">Color Elephant</a>
        </div>
        <ul class="nav navbar-nav navbar-right">
          <li><a href="#"><span class="glyphicon glyphicon-user"></span>  {{user.username}}</a></li>
          <li><a href="/auth/signout"><span class="glyphicon glyphicon-log-in"></span> Logout</a></li>
        </ul>
      </div>
    </nav>
    <div class="row">
        <div class="col-sm-4">
            <div ng-cloak ng-controller="ContactsController">
                <md-card>
                    <md-content>
                         <md-list>
                           <md-subheader class="md-no-sticky">DB Users</md-subheader>
                           <md-list-item class="md-2-line contact-item" ng-repeat="contact in allContacts">
                              <img ng-src="../../assets/images/Icon-user.png" class="md-avatar" alt="{{contact.name}}" />
                              <div class="md-list-item-text compact" ng-click="selectContact(contact)">
                                 <h3>{{contact.username}} <b ng-if="contact.username==user.username">(You)</b></h3><!--<div class={{contact.status}}></div>-->
                                 <p>{{contact.email}}</p>
                              </div>                  
                           </md-list-item>
                        </md-list>            
                     </md-content>
                </md-card>
            </div>
        </div>
        <div class="col-sm-8" style="height:500px;background:#FAFAFA;">
             <md-toolbar md-scroll-shrink>
                 <div class="md-toolbar-tools" ng-show="!selectedContact">Select a contact to chat now!</div>
                 <div class="md-toolbar-tools" ng-show="selectedContact">Your messages will be send to {{selectedContact.username}}</div>
             </md-toolbar>
              <md-content style="height:420px; background: #aca6b1; overflow-x: hidden;padding:20px">
                  <div id={{message.type}} class="media" ng-repeat="message in messages">
                      <div class="media-left">
                        <img src="../../assets/images/Icon-user.png" class="media-object" style="width:60px">
                      </div>
                      <div class="media-body">
                        <h4 class="media-heading">
                            {{message.username}}
                            <small>
                                <i>{{message.date}}</i>
                            </small>
                          </h4>
                        <p>{{message.message}}</p>
                      </div>
                    </div>           
            </md-content>                               
        </div>
            <div class="row">
        <div class="col-sm-4">
            <div><!--Markup created to fill blank space--></div>
        </div>
        <div clas="col-sm-8" style="width: 67%;background: whitesmoke;height: 130px;margin-left: 33%;">
            <div style="padding:20px">
                <div class="row">
                    <div class="col-sm-8" style="width:83%">
                        <md-container>
                         <md-input-container class="md-block">
                              <label>Message</label>
                              <input md-maxlength="300" required name="comments" ng-model="message">
                              <div ng-messages="projectForm.comments.$error">
                                 <div ng-message="required">This is required.</div>
                                 <div ng-message="md-maxlength">The message has to be less than 300 characters long.</div>
                              </div>
                           </md-input-container> 
                          </md-container>
                    </div>
                    <div class="col-sm-1">
                        <md-button class="md-fab md-primary" 
                                   aria-label="add"
                                   ng-click="send()">
                          <md-icon class="material-icons">send</md-icon>
                       </md-button>
                    </div>
                </div>                
            </div>
        </div>
    </div>
    </div>
    <!--<div>
        <ul>
          <li ng-repeat="message in array">
              {{ message.data }}
          </li>
        </ul>
        <form ng-submit="send()">
            <input ng-model="msg">
            <input type="submit" value=" ">
        </form>
    </div>-->
</div>
