<div class="col-sm-12" ng-controller="loginCtrl">
    <div class="container" style="width:60%">
         <form ng-submit="login(loginForm)" name="loginForm">
          <div class="form-group">
            <label for="email">Username:</label>
            <input type="text" 
                   class="form-control" 
                   placeholder="Username" 
                   id="email"
                   ng-model="user.username"
                   required/>
          </div>
          <div class="form-group">
            <label for="pwd">Password:</label>
            <input type="password" 
                   class="form-control" 
                   placeholder="Password" 
                   id="pwd"
                   ng-model="user.password"
                   required/>
           <label style="color:red" ng-show="error.status">{{error.message}}</label> 
          </div>            
          <button type="submit" class="btn btn-default">Log In</button>
        </form>
    </div>
</div>