<div class="col-sm-12">
    <div class="container" style="width:60%">
         <form>
          <div class="form-group">
            <label for="email">Email address:</label>
            <input type="email" class="form-control" id="email">
          </div>
          <div class="form-group">
              <label for="fullname">Fullname</label>
              <input type="text" class="form-control" id="fullname">              
          </div>    
          <div class="form-group">
              <label for="username">Username</label>
              <input type="text" class="form-control" id="username">              
          </div> 
          <div class="form-group">
            <label for="pwd">Password:</label>
            <input type="password" class="form-control" id="pwd">
          </div>
          <div>
              <label><a ng-href="#/login">Login</a></label>
          </div>
          <button type="submit" class="btn btn-default">Sign Up</button>
        </form>
    </div>
</div>